header {
  border: 5px solid purple;
    color: darkpurple;
    background-color: #BC79EF;
    padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
body{
  color: white;
  font-family: 'Abel', sans-serif;
  background-color: #5D59C7;
}
#pink:hover{
background-color: purple;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
#pink{
    float:right;
    margin-right: 16px;
    border-right: 1px solid #7CC6FE;
    padding: 10px;
}
h2{
  font-size: 27px;
  color: pink;
}
p{
    font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 0px;
}
